<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse Album Reviews{% endblock %}</h1>{% endblock %}

{% block content %}

<p>Album Reviews are left by Users on any of the Albums registered in our database.</p>

<table>
    <thead>
        <tr>
            {% if album_reviews|length != 0 %}
                <!-- Iterate through each key in the first entry to get the column name -->
                {% for key in album_reviews[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% else %}
                <th>Album Review ID</th>
                <th>Album</th>
                <th>User</th>
                <th>Rating</th>
                <th>Review</th>
            {% endif %}
            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for album_review in album_reviews %}
            <tr>
                {% for key in album_review.keys() %}
                    <td>{{ album_review[key] }}</td>
                
                    {% if loop.last %}
                        <td>
                            <a class="action" href="{{ url_for('edit', entity_name='album_review', entity_id=album_review['Album Review ID']) }}">
                                <button class="edit_btn">Edit</button>
                            </a>
                        </td>
                        <td>
                            <form action="{{ url_for('delete', entity_name='album_review', entity_id=album_review['Album Review ID']) }}" method="post">
                                <input class="danger delete_btn" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                            </form>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

<a href="{{ url_for('add_review', review_type='album') }}"><button class="add_btn">Add an Album Review</button></a>

{% endblock %}