<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse Albums{% endblock %}</h1>{% endblock %}

{% block content %}

<p>Albums are the registered albums in our database that Users can leave reviews on.</p>

<table>
    <thead>
        <tr>
            {% if albums|length != 0 %}
                <!-- Getting column names -->
                {% for key in albums[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% else %}
                <th>Album ID</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Average Rating</th>
            {% endif %}
            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for album in albums %}
            <tr>
                {% for key in album.keys() %}
                    <td>{{ album[key] }}</td>
                
                    {% if loop.last %}
                        
                            <td>
                                <a class="action" href="{{ url_for('edit', entity_name='album', entity_id=album['Album ID']) }}">
                                    <button class="edit_btn">Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="{{ url_for('delete', entity_name='album', entity_id=album['Album ID']) }}" method="post">
                                    <input class="danger delete_btn" type="submit" value="Delete" onclick="return confirm('Deleting this Album will also delete all Album_Reviews and Albums_Songs referencing it. Would you still like to proceed?');">
                                </form>
                            </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

<a href="{{ url_for('add_entity', entity_name='album') }}"><button class="add_btn">Add an Album</button></a>

{% endblock %}