<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse Albums_Songs{% endblock %}</h1>{% endblock %}

{% block content %}

<p>Albums_Songs facilitate the many-to-many relationship between Albums and Songs.</p>

<table>
    <thead>
        <tr>
            {% if albums_songs|length != 0 %}
                <!-- Iterate through each key in the first entry to get the column name -->
                {% for key in albums_songs[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% else %}
                <!-- There were no results, so manually input column names for empty table -->
                <th>Albums Songs ID</th>
                <th>Album</th>
                <th>Song</th>
            {% endif %}
            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for albums_song in albums_songs %}
            <tr>
                {% for key in albums_song.keys() %}
                    <td>{{ albums_song[key] }}</td>
                
                    {% if loop.last %}
                        <td>
                            <a class="action" href="{{ url_for('edit', entity_name='albums_song', entity_id=albums_song['Album Song ID']) }}">
                                <button class="edit_btn">Edit</button>
                            </a>
                        </td>
                        <td>
                            <form action="{{ url_for('delete', entity_name='albums_song', entity_id=albums_song['Album Song ID']) }}" method="post">
                                <input class="danger delete_btn" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                            </form>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

<a href="{{ url_for('add_entity', entity_name='albums_song') }}"><button class="add_btn">Add an Albums_Song</button></a>

{% endblock %}