<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse Song Reviews{% endblock %}</h1>{% endblock %}

{% block content %}

<p>Song Reviews are left by Users on any of the Songs registered in our database.</p>

<table>
    <thead>
        <tr>
            <!-- Iterate through each key in the first entry to get the column name -->
            {% for key in song_reviews[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}

            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for song_review in song_reviews %}
            <tr>
                {% for key in song_review.keys() %}
                    <td>{{ song_review[key] }}</td>
                
                    {% if loop.last %}
                        <td>
                            <a class="action" href="{{ url_for('edit', entity_name='song_review', entity_id=song_review['Song Review ID']) }}">
                                <button>Edit</button>
                            </a>
                        </td>
                        <td>
                            <form action="{{ url_for('delete', entity_name='song_review', entity_id=song_review['Song Review ID']) }}" method="post">
                                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                            </form>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

<a href="{{ url_for('add_review', review_type='song') }}"><button>Add a Song Review</button></a>

{% endblock %}