<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse Songs{% endblock %}</h1>{% endblock %}

{% block content %}

<p>Songs are the registered songs in our database that Users can leave reviews on.</p>

<table>
    <thead>
        <tr>
            <!-- Getting column names -->
            {% for key in songs[0].keys() %}
                {% if key[-3:] != "_id" %}
                    <th>{{ key }}</th>
                {% endif %}
            {% endfor %}

            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for song in songs %}
            <tr>
                {% for key in song.keys() %}
                    {% if key[-3:] != "_id" %}
                        <td>{{ song[key] }}</td>
                    {% endif %}
                
                    {% if loop.last %}
                        <td>
                            <a class="action" href="{{ url_for('edit', entity_name='song', entity_id=song['song_id']) }}">
                                <button>Edit</button>
                            </a>
                        </td>
                        <td>
                            <form action="{{ url_for('delete', entity_name='song', entity_id=song['song_id']) }}" method="post">
                                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                            </form>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

<a class="add_btn" href="{{ url_for('add_entity', entity_name='song') }}"><button>Add a Song</button></a>

{% endblock %}