<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse Songs{% endblock %}</h1>{% endblock %}

{% block content %}

<p>Songs are the registered songs in our database that Users can leave reviews on.</p>

<table>
    <thead>
        <tr>
            {% if songs|length != 0 %}
                <!-- Getting column names -->
                {% for key in songs[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% else %}
                <!-- There were no results, so manually input column names for empty table -->
                <th>Song ID</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Average Rating</th>
            {% endif %}
            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for song in songs %}
            <tr>
                {% for key in song.keys() %}
                    <td>{{ song[key] }}</td>
                
                    {% if loop.last %}
                        <td>
                            <a class="action" href="{{ url_for('edit', entity_name='song', entity_id=song['Song ID']) }}">
                                <button class="edit_btn">Edit</button>
                            </a>
                        </td>
                        <td>
                            <form action="{{ url_for('delete', entity_name='song', entity_id=song['Song ID']) }}" method="post">
                                <input class="danger delete_btn" type="submit" value="Delete" onclick="return confirm('Deleting this Song will also delete all Song_Reviews and Albums_Songs referencing it. Would you still like to proceed?');">
                            </form>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

<a href="{{ url_for('add_entity', entity_name='song') }}"><button class="add_btn">Add a Song</button></a>

{% endblock %}