<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse Users{% endblock %}</h1>{% endblock %}
{% block content %}

<table>
    <thead>
        <tr>
            <!-- Getting column names -->
            {% for key in users[0].keys() %}
                {% if key[-3:] != "_id" %}
                    <th>{{ key }}</th>
                {% endif %}
            {% endfor %}

            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for user in users %}
            <tr>
                {% for key in user.keys() %}
                    {% if key[-3:] != "_id" %}
                        <td>{{ user[key] }}</td>
                    {% endif %}
                
                    {% if loop.last %}
                        
                            <td>
                                <a class="action" href="{{ url_for('edit', entity_name='user', entity_id=user['user_id']) }}">
                                    <button>Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="{{ url_for('delete', entity_name='user') }}" method="post">
                                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                                </form>
                            </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

<a class="add_btn" href="{{ url_for('add_entity', entity_name='user') }}">Add a User</a>

{% endblock %}