html {
  font-family: Georgia, serif;
  text-align: center;
}

body {
    background-color: #b0c4de;
}

h1 {
  color: black;
  font-size: xx-large;
}

#creator-tag {
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
}

nav {
  background: whitesmoke;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border: 2px solid black;
}

.nav_btn {
  margin: 0 0;
}

header .action {
  display: block;
  padding: 0.5rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 65%;
  background-color: whitesmoke;
}

td, th {
  border: 2px solid black;
  padding-left: 8px;
  padding-right: 8px;
}

td {
  color: #282828;
}

th {
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #8A77A3;
  color: white;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

p {
  font-size: x-large;
}

table ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.flashes {
  color: #ad0c00;
  background-color: #f7a7a1;
  border: 1px solid #ad0c00;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

button, .delete_btn, .back_btn, .submit_save_btn, .submit_add_btn {
  color: white;
  padding: 0.5rem 1rem;
  font-size: large;
  background-color: #8A77A3;
  border-color: #282828;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button:hover, .delete_btn:hover, .back_btn:hover, .submit_save_btn:hover, .submit_add_btn:hover {
  color: #8A77A3;
  padding: 0.5rem 1rem;
  font-size: large;
  background-color: whitesmoke;
  border-color: #282828;
  border-radius: 10px;
}

.review_body {
  height: 200px;
  width: 500px;
}