<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add a{% if media_type == 'album' %}n{% endif %}
    {{ media_type.capitalize() }} Review{% endblock %}
  </h1>
{% endblock %}

{% block content %}

  <form method="post">

    <label for="media">{% if media_type == 'album' %}Album{% else %}Song{% endif %}:</label>
    <select name="media_title" id="media_title" required>
      {% for item in media_list %}
        {% for key in item.keys() %}
          <option value="media_title">{{ item[key] }}</option>
        {% endfor %}
      {% endfor %}
    </select>

    <br><label for="user">User:</label>
    <select name="usernames" id="usernames" required>
      {% for item in users %}
        {% for key in item.keys() %}
          <option value="usernames">{{ item[key] }}</option>
        {% endfor %}
      {% endfor %}
    </select>

    <br><label for="rating">Rating:</label>

    <select name="rating" id="rating" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <br><label for="review_body">Review Body:</label><br>
    <textarea name="review_body" id="review_body"></textarea>

    <br><input class="submit_add_btn" type="submit" value="Add">
  </form>

  <a href="{{ url_for(media_type.lower() + '_reviews') }}"><button class="back_btn">Back to Browse</button></a>
{% endblock %}
