<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add a{% if entity_name[0] == "a" %}n{% endif %}
    {% if entity_name == "albums_song" %}Albums_Song{% else %}
    {{ entity_name.capitalize() }} 
    {% endif %}
    {% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for(entity_name + 's') }}" method="post">
    
    <!-- Create drop-down menus for entities that have foreign keys -->
    {% if entity_name == 'album' or entity_name == 'song' or entity_name == 'albums_song' %}
      <!-- Add artist drop-down selection when adding an album or song -->  
      {% if entity_name == 'album' or entity_name == 'song' %}
        <label for="artist_fk_data">Artist:</label>
        <select name="artist_fk_data" id="artist-fk-data" required>
          {% for item in artist_fk_data %}
            {% for key in item.keys() %}
              <option value="artist_fk_data">{{ item[key] }}</option>
            {% endfor %}
          {% endfor %}
        </select><br>
      {% endif %}

      <!-- Add album drop-down selection when adding a song or albums_song -->
      {% if entity_name == 'song' or entity_name == 'albums_song' %}
        <label for="album_fk">Album:</label>
        <select name="album_fk_data" id="album-fk-data" required>
          {% for item in album_fk_data %}
            {% for key in item.keys() %}
              <option value="album_fk_data">{{ item[key] }}</option>
            {% endfor %}
          {% endfor %}
        </select><br>
      {% endif %}

      <!-- Add song drop-down selection when adding an albums_song -->
      {% if entity_name == 'albums_song' %}
        <label for="song_fk">Song:</label>
        <select name="song_fk_data" id="song-fk-data" required>
          {% for item in artist_fk_data %}
            {% for key in item.keys() %}
              <option value="artist_fk_data">{{ item[key] }}</option>
            {% endfor %}
          {% endfor %}
        </select><br>
      {% endif %}
    {% endif %}
    
    {% for key in entity_results[0].keys() %}
      <!-- Does not display primary/foreign keys or average song/album ratings -->
      {% if key != entity_name + '_id' and key[:3] != "avg" and key[-3:] != '_id' %}
        <label for="{{ key }}">{{ key.capitalize() }}:</label>
        <input name="{{ key }}" id="{{ key }}" required><br>
      {% endif %}
    {% endfor %}

    <br><input type="submit" value="Add">

  </form>

  <a class="back_btn" href="{{ url_for(entity_name + 's') }}">Back to Browse</a>
{% endblock %}
