<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add a{% if entity_name[0] == "a" %}n{% endif %}
    {% if entity_name == "albums_song" %}Albums_Song{% else %}
    {{ entity_name.capitalize() }} 
    {% endif %}
    {% endblock %}
  </h1>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="flashes" ><strong>Error:</strong> {{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="post">
    
    <!-- Create drop-down menus for entities that have foreign keys -->
    {% if entity_name == 'album' or entity_name == 'song' or entity_name == 'albums_song' %}
      <!-- Add album drop-down selection when adding an albums_song -->
      {% if entity_name == 'albums_song' %}
        <label for="album_fk">Album:</label>
        <select name="fk_data_1" id="fk-data-1" required>
          {% for item in fk_data_1 %}
            {% for key in item.keys() %}
              <option value="{{ item[key] }}">{{ item[key] }}</option>
            {% endfor %}
          {% endfor %}
        </select><br>
      {% endif %}  
    
      <!-- Add artist drop-down selection when adding an album or song, 
           add a song drop-down selection when adding an albums_song -->  
      <label for="fk_data_2">{% if entity_name == 'album' or entity_name == 'song' %}Artist:
                              {% else %}Song:
                              {% endif %}</label>
      <select name="fk_data_2" id="fk-data-2" required>
        {% for item in fk_data_2 %}
          {% for key in item.keys() %}
            <option value="{{ item[key] }}">{{ item[key] }}</option>
          {% endfor %}
        {% endfor %}
      </select><br>
    {% endif %}
    
    {% for key in entity_results[0].keys() %}
      <!-- Does not display primary/foreign keys or average song/album ratings -->
      {% if key != entity_name + '_id' and key[:3] != "avg" and key[-3:] != '_id' %}
        <label for="{{ key }}">{{ key.capitalize() }}:</label>
          {% if key == 'email' %}
            <input name="email" id="email" type="email" required><br>
          {% else %}
            <input name="{{ key }}" id="{{ key }}" required><br>
          {% endif %}
      {% endif %}
    {% endfor %}

    <br><input type="submit" value="Add">

  </form>

  <a class="back_btn" href="{{ url_for(entity_name + 's') }}">Back to Browse</a>
{% endblock %}
