<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ entity_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    {% for entity in entity_results %}
        {% for key in entity.keys() %}
          {% if key[-3:] != "_id" and entity_name != "Albums_Song" %}
            <label for="{{ key }}">{{ key }}:</label>
            <input name="{{ key }}" id="{{ key }}" value="{{ entity[key] }}" required><br>
          {% elif entity_name == "Albums_Song" %}
            {% if key != "albums_song_id" %}
              <label for="{{ key }}">{{ key }}:</label>
              <input name="{{ key }}" id="{{ key }}" value="{{ entity[key] }}" required><br>
            {% endif %}
          {% endif %}
        {% endfor %}
        <br>
    {% endfor %}

    <input type="submit" value="Save">
  </form>

  <a class="back_btn" href="{{ url_for(entity_name.lower() + 's') }}">Back to Browse</a>
{% endblock %}