<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ entity_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    {% for entity in entity_results %}
        {% for key in entity.keys() %}
              <label for="{{ key }}">{{ key }}:</label>
              <input name="{{ key }}" id="{{ key }}" value="{{ entity[key] }}" required><br>
        {% endfor %}
        <br>
    {% endfor %}

    <input type="submit" value="Save">
  </form>

  <a class="back_btn" href="{{ url_for(entity_name.lower() + 's') }}">Back to Browse</a>
{% endblock %}