<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit a{% if entity_name[0] == "a" %}n{% endif %}
    {% if entity_name == "song_review" %}Song Review
    {% elif entity_name == "album_review" %}Album Review
    {% elif entity_name == "albums_song" %}Albums_Song
    {% else %}{{ entity_name.capitalize() }} 
    {% endif %}
    {% endblock %}
  </h1>
{% endblock %}

{% block content %}

  <!-- Flashes any error messages if UNIQUE constrains are not met after edits are attempted -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="flashes" ><strong>Error:</strong> {{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}


  <form method="post">
    {% for entity in entity_results %}
      {% if loop.first %}

        <!-- Create drop-down menus for entities that have foreign keys -->
        {% if entity_name == 'album' or entity_name == 'song' or entity_name == 'albums_song' or entity_name[-6:] == 'review' %}
          <!-- Add artist drop-down selection when adding an album or song -->  
          {% if entity_name == 'album' or entity_name == 'song' %}
            <label for="artist_fk_data">Artist:</label>
            <select name="artist_fk_data" id="artist-fk-data" required>
              {% for item in fk_data_1 %}
                {% if loop.first %}
                  <option value="{{ current_fk_1 }}">{{ current_fk_1 }}</option>
                  {% if item['name'] != current_fk_1 %}
                    <option value="{{ item['name'] }}">{{ item['name'] }}</option>
                  {% endif %}
                {% elif item['name'] != current_fk_1 %}
                  <option value="{{ item['name'] }}">{{ item['name'] }}</option>
                {% endif %}
              {% endfor %}
            </select><br>
          {% endif %}

          <!-- Add album drop-down selection when adding an albums_song -->
          {% if entity_name == 'albums_song' %}
            <label for="album_fk_data">Album:</label>
            <select name="album_fk_data" id="album-fk-data" required>
              {% for item in fk_data_2 %}
                {% if loop.first %}
                  <option value="{{ current_fk_2 }}">{{ current_fk_2 }}</option>
                  {% if item['album_title'] != current_fk_2 %}
                    <option value="{{ item['album_title'] }}">{{ item['album_title'] }}</option>
                  {% endif %}
                {% elif item['name'] != current_fk_2 %}
                  <option value="{{ item['album_title'] }}">{{ item['album_title'] }}</option>
                {% endif %}
              {% endfor %}
            </select><br>

            <!-- Add song drop-down selection when editing an albums_song -->
            <label for="song_fk">Song:</label>
            <select name="song_fk_data" id="song-fk-data" required>
              {% for item in fk_data_1 %}
                {% if loop.first %}
                  <option value="{{ current_fk_1 }}">{{ current_fk_1 }}</option>
                  {% if item['song_title'] != current_fk_1 %}
                    <option value="{{ item['song_title'] }}">{{ item['song_title'] }}</option>
                  {% endif %}
                {% elif item['song_title'] != current_fk_1 %}
                  <option value="{{ item['song_title'] }}">{{ item['song_title'] }}</option>
                {% endif %}
              {% endfor %}
            </select><br>

            <!-- Add album drop-down selection when adding an album_review -->
            {% elif entity_name == 'album_review' %}
            <label for="album_fk_data">Album:</label>
            <select name="album_fk_data" id="album-fk-data" required>
              {% for item in fk_data_2 %}
                {% if loop.first %}
                  <option value="{{ current_fk_2 }}">{{ current_fk_2 }}</option>
                  {% if item['album_title'] != current_fk_2 %}
                    <option value="{{ item['album_title'] }}">{{ item['album_title'] }}</option>
                  {% endif %}
                {% elif item['album_title'] != current_fk_2 %}
                  <option value="{{ item['album_title'] }}">{{ item['album_title'] }}</option>
                {% endif %}
              {% endfor %}
            </select><br>

            <!-- Add song drop-down selection when editing an album_review -->
            <label for="user_fk">User:</label>
            <select name="user_fk_data" id="user-fk-data" required>
              {% for item in fk_data_1 %}
                {% if loop.first %}
                  {% if current_fk_1 != "None" %}
                    <option value="None">None</option>
                  {% endif %}
                  <option value="{{ current_fk_1 }}" selected>{{ current_fk_1 }}</option>
                  {% if item['username'] != current_fk_1 %}
                    <option value="{{ item['username'] }}">{{ item['username'] }}</option>
                  {% endif %}
                {% elif item['username'] != current_fk_1 %}
                  <option value="{{ item['username'] }}">{{ item['username'] }}</option>
                {% endif %}
              {% endfor %}
            </select><br>

            <!-- Add album drop-down selection when adding an song_review -->
            {% elif entity_name == 'song_review' %}
            <label for="song_fk">Song:</label>
            <select name="song_fk_data" id="song-fk-data" required>
              {% for item in fk_data_2 %}
                {% if loop.first %}
                  <option value="{{ current_fk_2 }}">{{ current_fk_2 }}</option>
                  {% if item['song_title'] != current_fk_2 %}
                    <option value="{{ item['song_title'] }}">{{ item['song_title'] }}</option>
                  {% endif %}
                {% elif item['song_title'] != current_fk_2 %}
                  <option value="{{ item['song_title'] }}">{{ item['song_title'] }}</option>
                {% endif %}
              {% endfor %}
            </select><br>

            <!-- Add user drop-down selection when editing a song_review -->
            <label for="user_fk">User:</label>
            <select name="user_fk_data" id="user-fk-data" required>
              {% for item in fk_data_1 %}
                {% if loop.first %}
                  {% if current_fk_1 != "None" %}
                    <option value="None">None</option>
                  {% endif %}
                  <option value="{{ current_fk_1 }}" selected>{{ current_fk_1 }}</option>
                  {% if item['username'] != current_fk_1 %}
                    <option value="{{ item['username'] }}">{{ item['username'] }}</option>
                  {% endif %}
                {% elif item['username'] != current_fk_1 %}
                  <option value="{{ item['username'] }}">{{ item['username'] }}</option>
                {% endif %}
              {% endfor %}
            </select><br>
            {% endif %}
          {% endif %}
        {% endif %}
    
      {% for key in entity.keys() %}
        <!-- Does not display primary/foreign keys or average song/album ratings -->
        {% if key != entity_name + '_id' and key[:3] != "avg" and key[-3:] != '_id' %}
          <label for="{{ key }}">{{ key.capitalize() }}:</label>

          <!-- Creates dropdown menu for ratings when editing album_reviews and song_reviews -->
          {% if entity_name == "album_review" or entity_name == "song_review" %}
            {% if key[-6:] == "rating" %}
            <select name="{{ key }}" id="{{ key }}" value="{{ entity[key] }}" required>
              {% for i in range(1, 6) %}
                {% if i == entity[key] %}
                  <option value="{{ i }}" selected>{{ i }}</option>
                {% else %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br>

            {% elif key[-4:] == "body" %}
            <!-- Creates a textarea for review bodies when editing album_reviews and song_reviews -->
            <br>
            <textarea name="{{ key }}" id="{{ key }}" class="review_body">{% if entity[key] != None %}{{ entity[key] }}{% endif %}</textarea>
            <br>
            {% endif %}

          <!-- Creates general input fields for all other inputs -->
          {% else %}
            <input name="{{ key }}" id="{{ key }}" value="{{ entity[key] }}" required><br>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <input class="submit_save_btn" type="submit" value="Save">

  </form>

  <a href="{{ url_for(entity_name + 's') }}"><button class="back_btn">Back to Browse</button></a>
{% endblock %}