<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Browse {{ entity_name }}{% endblock %}</h1>{% endblock %}
{% block content %}

<table>
    <thead>
        <tr>
            <!-- Iterate through each key in the first entry to get the column name -->
            {% for key in entity_results[0].keys() %}
                {% if key[-3:] != "_id" %}
                    <th>{{ key }}</th>
                {% endif %}
            {% endfor %}

            <th>Edit</th>
            <th>Delete</th>
        </tr>

    <tbody>
        {% for entity in entity_results %}
            <tr>
                {% for key in entity.keys() %}
                    {% if key[-3:] != "_id" %}
                        <td>{{ entity[key] }}</td>
                    {% endif %}
                
                    {% if loop.last %}
                        {% if entity_name == "Album Reviews" %}
                            <td>
                                <a class="action" href="{{ url_for('edit', entity_name='album_reviews', entity_id=entity['album_review_id']) }}">
                                    <button>Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="{{ url_for('delete', entity_name='album_reviews') }}" method="post">
                                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                                </form>
                            </td>
                        {% elif entity_name == "Song Reviews" %}
                            <td>
                                <a class="action" href="{{ url_for('edit', entity_name='song_reviews', entity_id=entity['song_review_id']) }}">
                                    <button>Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="{{ url_for('delete', entity_name='song_reviews') }}" method="post">
                                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                                </form>
                            </td>
                        {% elif entity_name == "Albums_Songs" %}
                            <td>
                                <a class="action" href="{{ url_for('edit', entity_name='albums_songs', entity_id=entity['album_song_id']) }}">
                                    <button>Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="{{ url_for('delete', entity_name='albums_songs') }}" method="post">
                                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                                </form>
                            </td>
                        {% else %}
                            <td>
                                <a class="action" href="{{ url_for('edit', entity_name=(entity_name.split()[0][:-1]).lower(), entity_id=entity[((entity_name.split()[0][:-1]).lower()) + '_id']) }}">
                                    <button>Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="{{ url_for('delete', entity_name=(entity_name.split()[0][:-1]).lower()) }}" method="post">
                                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                                </form>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>

{% if entity_name == "Album Reviews" or entity_name == "Song Reviews" %}
  <a class="add_btn" href="{{ url_for('add_review', review_type=(entity_name.split()[0]).lower()) }}">Add a Review</a>
{% else %}
  <a class="add_btn" href="{{ url_for('add_entity', entity_name=(entity_name.split()[0][:-1]).lower()) }}">Add a{% if entity_name[0] == "A" %}n{% endif %}
    {{ entity_name[:-1] }}</a>
{% endif %} 

{% endblock %}