<!DOCTYPE html>

<nav>
    <ul>
        <a class="action" href="{{ url_for('song_reviews') }}">View Song Reviews</a>
        <a class="action" href="{{ url_for('album_reviews') }}">View Album Reviews</a>
        <a class="action" href="{{ url_for('post_review') }}">Leave a Review</a>
    </ul>
  </nav>

<html>
    <head>
        <title>A+ Music</title>
    </head>
        <body>
            <h1>Home</h1>
            <h3>Find your next favorite song with ease.</h3>
            <p>Our Top Rated Albums:</p>
            <p>A B C</p>
            <p>Our Top Rated Songs:</p>
            <p>A B C</p>
        </body>
</html>